[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pelican = "*"
typogrify = "*"
Markdown = "*"
smartypants = "*"
Fabric = "*"
fabric = "*"
patchwork = "*"
awscli = "*"

[dev-packages]

[requires]
python_version = "3.6"
