/*
	Name: Crash
	Date: 2013-10-21
	Description: 
	Version: 1.0
	License: MIT <http://opensource.org/licenses/MIT>
	Author: Richard Gray <http://crash.net.nz/>
*/

/* Imports */
@import url("reset.css");
@import url("pygments.css");

/***** Global *****/
@media all {html {font-size: 18px;}}

/* Body */
body {
    background: #fdfdfd;
    color: #000305;
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    font-size: 100%;
    line-height: 25px;
    margin: 0;
    padding: 0;
    text-align: left;
    text-rendering: optimizeLegibility;
}

a {
    color: #00BFFF;
    text-decoration: none;
}

hr {
    margin: 0px 0px 24px 0px;
    border: 0;
    border-top: 1px solid #D5D5D5;
}

a:hover {
    text-decoration: underline;
}

blockquote {
    margin-left: 1em;
    margin-bottom: 25px;
    fint-size: 90%;
    font-style: italic;
}

h1 {
    color: #00BFFF;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    font-size: 2.0000em; /* 36px */
    line-height: 1.3889em; /* 50px */
    margin-bottom: 25px;
}

h2 {
    color: #000305;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    font-size: 1.5em; /* 36px */
    line-height: 1.3889em; /* 50px */
    margin-bottom: 25px;
}

h3 {
    color: #000305;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    font-size: 1em; /* 36px */
    line-height: 25px;
    margin-bottom: 25px;
}


p {
    font-size: 1em; /* 18px */
    line-height: 1.3889em; /* 25px */
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 25px;
    margin-left: 0px;
}

ul, dl, ol {
    margin-top: 25px;
    margin-right: 0px;
    margin-bottom: 25px;
    margin-left: 0px;
}

ul {
    list-style-type: square;
}

body p code {
    border: 1px solid #ccc;
    background-color: #fafafa;
    font-size: 13px;
    padding: 1px 3px;
    line-height: 20px;
    margin: 0;
    white-space: nowrap;
}

figure {
    display: table;
    width: 1px; /* This can be any width, so long as it's narrower than any image */
}

footer {
    text-align: center;
    font-size: 90%;
    margin-top: 50px;
}

img, figcaption {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    display: table-row;
    text-align: right;
    font-weight: 100;
    font-size: 80%;
    line-height 25px;
}

body code, body pre {
    font-family: Consolas,Menlo,"Courier New",monospace,PowerlineSymbols;
    font-size: 14px;
}


/***** Classes *****/
.wrap {
    margin: 25px;
}

span.articledate {
    color: #B2B2B2;
    float: right;
}

span.menuitem {
    float: right;
    margin-left: 1em;
}

abbr.published {
    color: #B2B2B2;
    text-align: left;
    display: block;
}

.clear {
    clear: both;
}

.articleheader {
    margin-bottom: 25px;
}

.highlight pre {
    margin-left: -25px;
    margin-bottom: 25px;
    background-color: #fafafa;
    border-color: #d5d5d5;
    border-style: solid;
    border-width: 1px;
    border-left-width: 10px;
    padding: 11px 15px 12px;
    overflow-x: auto;
}


/***** IDs *****/
#container {
    margin-left: auto;
    margin-right: auto;
    width: 612px;
}

#content {
    width: 612px;
}

#menu {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    font-size: 150%;
    font-weight: bold;
    line-height: 50px;
    margin-bottom: 50px;
}

#menu a {
    text-decoration: none;
    color: #00BFFF;
}

#post-list {
    font-size: 110%;
}

#post-list a {
    color: #000305;
    text-decoration: none;
}

#post-list a:hover {
    color: #00BFFF;
    text-decoration: none;
}

#post-list li {
    margin-bottom: 25px;
}

