<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
    <meta charset="utf-8" />
    <title>{% block title %}{{ SITENAME }}{%endblock%}</title>
    <link rel="stylesheet" href="/{{ THEME_STATIC_DIR }}/css/{{ CSS_FILE }}" />
    {% block head %}
    {% endblock head %}
</head>

<body>
    <div class="wrap">
        <div id="container">
            <nav id="menu">

                crash.net.nz
                {% for title, link in MENUITEMS %}
                    <span class="menuitem"> <a href="{{ link }}">{{ title }}</a> </span>
                {% endfor %}

                {% if DISPLAY_PAGES_ON_MENU %}
                    {% for p in pages %}
                        <span class="menuitem"> <a href="/{{ p.url }}">{{ p.title }}</a> </span>
                    {% endfor %}
                {% endif %}
                {% if DISPLAY_CATEGORIES_ON_MENU %}
                    {% for cat, null in categories %}
                        <span class="menuitem"> <a href="/{{ cat.url }}">{{ cat }}</a> </span>
                    {% endfor %}
                {% endif %}
                <hr>
            </nav><!-- /#menu -->

            {% block content %}
            {% endblock %}

        <footer id="contentinfo" class="body">
            <hr>
            <address id="about" class="vcard body">
                Powered by <a href="http://getpelican.com/">Pelican</a>
                and <a href="http://python.org">Python</a>.
            </address><!-- /#about -->
        </footer><!-- /#contentinfo -->
        </div>
    </div>
    {% include 'analytics.html' %}
</body>
</html>
