{% extends "base.html" %}
{% block content %}
<section id="content">

    {% block content_title %}
        {% set article = articles | first %}
        <header class="articleheader">
            <h2 class="entry-title">
            <a href="/{{ article.url }}" rel="bookmark"
            title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2>
            <abbr class="published" title="{{ article.date.isoformat() }}">
            Posted {{ article.locale_date }}
            </abbr>
            {% import 'translations.html' as translations with context %}
            {{ translations.translations_for(article) }}
        </header>
    {% endblock %}

    {% set article = articles | first %}
    <article>
        {{ article.content }}
    </article>

</section><!-- /#content -->
{% endblock content %}
