{% extends "base.html" %}
{% block content %}
<section id="content">
{% block content_title %}
<h2>All articles</h2>
{% endblock %}

<ol id="post-list">
    {% for article in articles_page.object_list %}
    <li><article class="hentry">
        <a href="/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a>
        <span class="articledate" title="{{ article.date.isoformat() }}"> {{ article.locale_date }} </span>
    </article></li>
    {% endfor %}
</ol><!-- /#posts-list -->
{% include 'pagination.html' %}
</section><!-- /#content -->
{% endblock content %}
